.events {
  .container;
  //padding: 140px 0 100px;
  display: flex;
  flex-direction: column;
  &__text {
    max-width: 868px;
    width: 100%;
    margin-bottom: 60px;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 150px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    margin: 70px 0 232px;
    gap: 40px;
  }
}
