.form {
    &__list {
        display: flex;
        gap: 66px 138px;
        width: 100%;
        &--mb50 {
            margin-bottom: 50px;
        }
        &--mb30 {
            margin-bottom: 30px;
        }
    }
    &__field {
        padding: 16px 20px 15px 20px;
    }
}