.offers{
    &__container{
        padding: 0  0 208px 0;
        .container;
    }
    &__title{
        margin: 0 auto;
        font-family: @font2;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        justify-content: center;
        text-transform: uppercase;
        color: @black;
        max-width: 90px;
        width: 100%;
        margin-bottom: 46px;
    }
    &__btn{
        width: 100%;
        max-width: 246px;
        &--red{
            padding: 15px 40px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 272px;
            background-color: @red;
            color: @white;
            text-align: center;
            font-family: @font1;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            transition: color 0.2s, background-color 0.2s, border-color 0.2s;
            overflow: hidden;
            cursor: pointer;
            &:active{
                background-color: @red_dark;
            }
            &:hover{
                @media (hover: hover){
                    background-color: @red_dark;
                }
            }
        }
    }
    &__wrapper{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 107px;

    }

}