.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas:
    "checks scheme"
    "order legend";
  width: 100%;
  @media @bw1340 {
    grid-template-columns: 200px calc(89% - 200px);
    grid-template-areas:
      "scheme scheme"
      "checks legend"
      "checks order";
      gap: 60px 11%;
  }
  @media @bw768 {
    grid-template-areas:
      "scheme"
      "legend"
      "checks"
      "order";
      grid-template-columns: 1fr;
  }
  &__scheme-wrapper {
    position: relative;
    width: 100%;
  }
  &__checks {
    grid-area: checks;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media @bw1340 {
      max-width: 192px;
      width: 100%;
    }
  }
  &__order {
    grid-area: order;
    @media @bw1340 {
      margin-left: 42px;
    }
    @media @bw768 {
      margin-left: 0;
    }
  }
  &__scheme {
    grid-area: scheme;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media @bw1340 {
      align-items: center;
      margin-left: -30px;
    }
    @media @bw768 {
      margin-left: 0;
    }
  }
  &__legend {
    grid-area: legend;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    @media @bw768 {
      align-items: flex-start;
      text-align: left;
    }
  }
  &__check {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    @media @bw1340 {
      margin-bottom: 15px;
    }
  }
  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 35px;
    @media @bw768 {
      align-items: flex-start;
    }
  }
  &__price-item {
    box-sizing: border-box;
    position: relative;
    min-height: 24px;
    margin-bottom: 15px;
    padding-left: 34px;
    padding-top: 2px;
    font-size: 14px;
    line-height: 19px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-color: @black;
      @media @bw768 {
        width: 20px;
        height: 20px;
      }
    }
    @media @bw768{
      margin-bottom: 0;
    }
    &::after {
      content: attr(data-caption);
    }
    &--red {
      &::before {
        background-color: @red;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__notation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media @bw768 {
      align-items: flex-start;
    }
  }
  &__note {
    box-sizing: border-box;
    position: relative;
    min-height: 24px;
    margin-bottom: 15px;
    padding-left: 54px;
    padding-top: 2px;
    font-size: 14px;
    line-height: 19px;
    &--free {
      &::before,
      &::after {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border: 1px solid @black;
        border-radius: 50%;
      }
      &::after {
        left: 12px;
        border-color: @red;
      }
    }
    &--booked {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 6px;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: @gray_dark;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__tickets {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__qty {
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    &::after {
      content: " " attr(data-caption) " | " attr(data-price);
    }
    @media @bw768 {
      font-size: 14px;
    }
  }
  &__sum {
    text-align: right;
    font-family: @font1;
    font-size: 18px;
    font-weight: 600;
    &::after {
      content: attr(data-currency);
      margin-left: 4px;
      font-size: 0.95em;
    }
  }
  &__total {
    text-align: center;
    font-family: @font1;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 53px;
    @media @bw1340 {
      margin-bottom: 43px;
    }
    &::before {
      content: attr(data-caption);
      margin-right: 30px;
    }
    &::after {
      content: attr(data-currency);
      display: none;
      margin-left: 4px;
      font-size: 0.95em;
    }
  }
  &__submit {
    width: 100%;
  }
  &__scheme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 780px;
    @media @bw768 {
      max-width: 285px;
    }
  }
  &__scheme-title {
    margin: 0 0 40px;
    padding: 6px 56px;
    background-color: @black;
    color: @white;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    @media @bw1340 {
      font-size: 11px;
      padding: 6px 47px;
      margin: 0 0 26px;
    }
    @media @bw768 {
      font-size: 11px;
      padding: 6px 46px;
    }
  }
  &__section-title {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    &--mb30 {
      margin-bottom: 30px;
    }
    @media @bw1340 {
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
    }
    @media @bw768 {
      margin-bottom: 15px;
    }
  }
}

.scene{
  @media @bw1340 {
    transform: scale(0.81);
    margin-left: -20px;
  }
  @media @bw768 {
    transform: scale(0.36);
    margin-left: -252px;
    margin-top: -125px;
    margin-bottom: -134px;
  }
}
