.section-title{
  .width_624;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  margin: 0 auto 150px;
  padding: 8px 45px;
  background-color: @black;
  color: @white;
  font-family: @font2;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.277;
  text-align: center;
  text-transform: uppercase;
  &--fw400{
    font-weight: 400; 
    font-size: 22px;
    line-height: 30px; 
    letter-spacing: 0.44px;
  }
  @media @bw1660 {
    margin-bottom: 130px;
  }
  @media @bw1340 {
    min-height: 52px;
    margin-bottom: 100px;
    padding: 11px 40px;
    font-size: 24px;
  }
  @media @bw768 {
    min-height: 42px;
    margin-bottom: 80px;
    padding: 11px 20px;
    font-size: 20px;
  }
  @media @bw600 {
    font-size: 16px;
  }
}
/*
.title{
  margin: 0 0 150px;
  box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  text-align: center;
  background-color: #1f1e1e;
  text-transform: uppercase;
  font-family: "Lora";
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  color: @white;
}
*/

  