.upcoming{
    &__container{
        .container;
        display: flex;
        flex-direction: column;
    }
    &__card{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px -120px;
        margin-bottom: 70px;
    }
    &__slider{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 122px;
    }
    &__title{
        margin-top: 128px;
    }
}